@import "config";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

// General Styles

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-size: 3.5em;
}

// Header
.main-hdr {
  display: flex;
  justify-content: space-between;
  color: $dark-color;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.menu-right {
  display: flex;
  align-items: center;
}

.call-us {
  margin-right: 1rem;
}

// Showcase
#showcase {
  background: $bg-image no-repeat center center / cover;
  height: 700px;
}

.showcase-content {
  color: #f4f4f4;
  padding-top: 300px;
  padding-left: 700px;
}

// Section A
.instruction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  iframe {
    width: 100%;
    height: 100%;
  }
}

.frustrated {
  color: #364e4a;
  padding: 100px;

  h1 {
    font-size: 4em;
    margin-bottom: 20px;
  }

  ul li {
    font-family: "Montserrat";
    line-height: 2;

    i {
      color: red;
      margin-right: 10px;
    }
  }
}

#home-b {
  background: $mission-image no-repeat center center / cover;
  height: 500px;
  z-index: 3;

  .mission-content {
    padding-top: 175px;
    color: #f4f4f4;
    z-index: 2;

    h1 {
      font-size: 4em;
    }

    h2 {
      font-family: "Damion";
      font-size: 3em;
      margin-bottom: 10px;
    }
  }
}

#home-c {
  height: 800px;
  background: #f4f4f4;

  .happy-container {
    transform: translateY(-40px);
    box-shadow: 10px 10px 30px #888888, -10px 10px 30px #888888;
    background: #fff;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    .happy-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      color: #364e4a;

      img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-left: 70px;
      }

      h2 {
        font-size: 3em;

        .saved {
          padding-left: -200px;
        }

        .hilite {
          color: $primary-color;
        }
      }
    }

    .happy-btn {
      display: block;
      margin: 50px auto;
      width: 250px;
    }
  }
}

#home-d {
  background: #dddddd;

  .review-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;

    h2 {
      font-family: "Damion";
      font-size: 4em;
      font-weight: 500;
      color: $primary-color;
    }
  }

  .review-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-bottom: 30px;

    video {
      height: 500px;
      width: 281.25px;
    }

    h3 {
      margin-top: 20px;
      color: $primary-color;
      text-transform: uppercase;
      font-size: 1.5em;
    }
  }
}

#home-e {
  height: 1150px;
  background: #e5e5e5;
  .how {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;

    h2 {
      font-family: "Damion";
      font-size: 4em;
      font-weight: 500;
      color: $primary-color;
      margin-bottom: 20px;
    }
  }

  .steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .image-frame {
      position: relative;

      h3 {
        position: absolute;
        font-size: 1.5em;
        top: 10px;
        left: 15px;
        color: #fff;
        z-index: 1;
      }
    }

    .steps-list {
      color: #364e4a;
      background: #fff;
      padding: 20px 0 20px 10px;
      width: 360px;
      height: 220px;

      h2 {
        padding-bottom: 20px;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0;
        font-weight: 600;
      }

      ul {
        li {
          font-family: Montserrat;
          font-size: 15px;
          line-height: 32px;

          i {
            color: green;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

#home-f {
  background: $contact-image no-repeat center center / cover;
  height: 700px;

  .contact-container {
    width: 900px;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    background: #fff;
    transform: translateY(-40px);
    text-align: center;

    h2 {
      padding-top: 30px;
      padding-bottom: 10px;
      color: #75ad0a;
      text-transform: uppercase;
    }

    .contact-form {
      display: flex;
      flex-direction: column;

      input {
        height: 45px;
        margin: 0 30px;
        border-radius: 30px;
        padding-left: 30px;
        background: #d3d3d3;
      }

      .contact-btn {
        display: block;
        margin: 50px auto;
        width: 250px;
      }
    }
  }
}
